.content-one{
	width: 100%;
}

.content-portada{
	width: 100%; 

}

.content-img{
	width: 100%;
	height: 1400px;
	background-image: url(../image/fondo.png);
	background-position: center center;
	background-repeat: no-repeat;
	/*background-size: 100%; 
	-webkit-box-pack: center; 
	-ms-flex-pack: center; 
	justify-content: center;*/
}
.slider img{
	margin-top: 22%;
	width: 100%;
	height: 100%;

}
.recargas{
	margin-top: 2%;
	position: center;
	width: 400px;
	height: 600px;
}
.logosCompanias{
	position: center;
	width: 80%;
	height: 70%;
}
@media screen and (max-width: 900px){
	.content-img{
	background-size: 1500px;
	}
}

.content-font{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	top: 100px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	padding: 10px;
}

.content-font label{
	color: white;
	font-size: 60px;
	margin-top: 20px;
}
.content-font h2{
	color: white;
	font-size: 40px;
	margin-top: 10px;
}


/**CONTENT TWO*/

.content-two{
	width: 100%;
	padding: 40px;
	background: #F2F2F2;
}

.content-details{
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media screen and (max-width: 900px){
	.content-details{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.content-details-for{
	margin: 20px;
}

.content-details-for p{
	margin-top: 20px;
}

.icon-heart, .icon-laptop, .icon-support{
	color: #EA5D5D;
	font-size: 40px;
}


/*CONTENT THREE*/

.content-three{
	width: 100%;
	background: #EFEFEF;
}

.content-item{
	text-align: center;
	padding: 40px;
}

.content-img-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 40px;
}

.content-img-item img{
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
.content-img-item img:hover{
	cursor: pointer;
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
	-webkit-transition: all 300ms;
	transition: all 300ms;
}

/*CONTENT FOR*/

.content-for{
	width: 100%;
	padding: 40px;
}

.content-item2{
	width: 800px;
	margin: auto;
	text-align: center;
}

@media screen and (max-width: 900px){
	.content-item2{
		width: 100%;
	}
}

.content-item2 p{
	margin-top: 10px;
	color: #7a7a7a;
}

.content-item2 img{
	width: 100%;
	max-width: 1000px;
	margin-top: 40px;
}


/*CONTENT FIVE*/

.content-five{
	width: 100%;
	background: #F37171;
}

.content-item3{
	width: 700px;
	margin: auto;
	text-align: center;
	padding: 60px 40px;
}

@media screen and (max-width: 800px){
	.content-item3{
		width: 100%;
	}
}
.content-item3 h3{
	color: white;
}

.content-item3 p{
	color: white;
	margin-top: 20px;
}

