@media screen and (max-width: 1900px){
	.content-img{
		width: 100%;
	}
	#slogan{
        margin-top: 20%;
		width: 100%;
		max-width: 1400px;
    }
    a .recargas{
	    margin-top: 5%;
		position: center;
		width: 300px;
		height: 500px;
	}
		.logosCompanias{
		margin-top: 5%;
		width: 100%;
		height: 100px;
	}
	.content-two{
		background-image: url(../image/quienessomos.png);
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 1300px;
		background-repeat: no-repeat;
	}
	.content-font2{
		display: none;
		}
	.content-three{
		background: url(../image/servicios.png);
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 1000px;
		background-repeat: no-repeat;
	}
	.content-font3{
		display: none;
		}
}
@media screen and (max-width: 1400px){
	.content-img{
		width: 100%;
	}
	#slogan{
        margin-top: 20%;
		width: 100%;
		max-width: 1400px;
    }
    a .recargas{
	    margin-top: 5%;
		position: center;
		width: 300px;
		height: 500px;
	}
		.logosCompanias{
		margin-top: 5%;
		width: 100%;
		height: 100px;
	}
	.content-two{
		background-image: url(../image/quienessomos.png);
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 850px;
		background-repeat: no-repeat;
	}
	.content-font2{
		display: none;
		}
	.content-three{
		background: url(../image/servicios.png);
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 759px;
		background-repeat: no-repeat;
	}
	.content-font3{
		display: none;
		}
}
@media screen and (max-width: 900px){
	.content-img{
		width: 100%;
	}
	#slogan{
        margin-top: 40%;
		width: 100%;
		max-width: 1400px;
    }
    a .recargas{
	    margin-top: 15%;
		position: center;
		width: 300px;
		height: 500px;
	}
		.logosCompanias{
		margin-top: 20%;
		width: 80%;
		height: 80px;
	}
	.content-two{
		background-image: url(../image/quienessomos.png);
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 500px;
		background-repeat: no-repeat;
	}
	.content-font2{
		font-family: Helvetica;
		display: -webkit-box;
		display: -ms-flexbox;
		display: none;
		position: relative;
		top: 400px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: justify;
		padding: 10px;
	}
	.content-three{
		background: url(../image/servicios.png);
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 500px;
		background-repeat: no-repeat;
	}
	.content-font3{
		text-align: justify;
		font-family: Helvetica;
		display: -webkit-box;
		display: -ms-flexbox;
		display: none;
		position: relative;
		top: 600px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 10px;
	}
	h4{
		margin-top: 20px;
	}
}
@media screen and (max-width: 600px){
	.content-img{
		width: 100%;
	}
	#slogan{
        margin-top: 70%;
		width: 100%;
		max-width: 1400px;
    }
    a .recargas{
	    margin: auto;
		margin-top: 20%;
		bacon: center;
		width: 300px;
		height: 500px;
	}
		.logosCompanias{
		margin-top: 20%;
		width: 80%;
		height: 50px;
	}

	.content-two{
		background: url(../image/somos_versioncelular.png);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		max-width: 900px;
		height: 800px;
	}
	.content-font2{
		font-family: Helvetica;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		top: 350px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: justify;
		padding: 10px;
	}
	

	.content-three{
		background: url(../image/03_celular.png);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 1300px;
	}
	.content-font3{
		text-align: justify;
		font-family: Helvetica;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		top: 1100px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 10px;
	}
	h4{
		margin-top: 20px;
	}
}

main{
	width: 100%;
	height: 100%;
}
.content-one{
	width: 100%;
}
.content-img{
	width: 100%;
	height: 1400px;
	background-image: url(../image/fondo.png);
	background-position: center center;
	background-repeat: no-repeat;
	margin: auto;
	/*background-size: 100%; 
	-webkit-box-pack: center; 
	-ms-flex-pack: center; 
	justify-content: center;*/
}
.slider img{
	margin-top: 22%;
	width: 100%;
	max-width: 1400px;

}

.recargas{
	margin: auto;
	margin-top: 2%;
	position: center;
	width: 400px;
	height: 600px;

}
.slideshow .recargas{
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
.slideshow .recargas:hover{
	cursor: pointer;
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
.logosCompanias{
	position: center;
	width: 100%;
	height: 100%;
}

.content-font{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	top: 100px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	padding: 10px;
}

.content-font label{
	color: white;
	font-size: 60px;
	margin-top: 20px;
}
.content-five{
	width: 100%;
	background: #363434;
}

.content-item3{
	width: 700px;
	margin: auto;
	text-align: center;
	padding: 60px 40px;
}

@media screen and (max-width: 800px){
	.content-item3{
		width: 100%;
	}
}
.content-item3 p{
	color: white;
}
.content-two p{
	margin-top: 200px;
	}


